[2018-10-05 11:26] myriamboure opened #30 "[mobile ux] "next" on checkout sometimes jump checkout sections, or bring too low > UX confusing and leads to errors"
**UPDATE 29.11.2018**
After PR openfoodfoundation/openfoodnetwork#3047, on mobile when I click on "next" I am correctly taken to next section BUT too low, I see the  bottom of the section apparently and not the top, it's confusing.
Ex after address section when click on next:
![img_9649](https://user-images.githubusercontent.com/8135376/49243848-aa60f300-f40e-11e8-8ade-4db10941249a.PNG)
After ship

[2018-10-06 02:55] kirstenalarsen commented on #30
I just experienced this too - it definitely didn't used to be this bad, something has gone wrong! There is a card in mobile ready to "Default all unfilled Checkout panels to open" for mobile. Would this be something that should just apply to whole checkout (desktop and mobile) as a quick fix, and then we can refine from there @myriamboure ? If so it could probably be a 'good first issue'? https://

[2018-10-08 16:39] myriamboure commented on #30
Yes, maybe actually it would be good on desktop as well, what do you think @RachL ? It's not such a long page... it makes navigation harder actually to have to jump from one section to the other. Although some people might be afraid as we are asking quite a lot of info, I guess that's why the choice was made to hide and show step by step. But I think single page checkout works usually  better in t

[2018-10-09 09:51] Matt-Yorkley commented on #30
I think it'd be a great idea to just have the 4 sections open and not jump around on the page, for both mobile and desktop. :+1:

[2018-10-09 10:16] RachL commented on #30
Yes I agree. In the future, we could also consider having actual steps : one page per step, with a summary at the end. And for user with all info already there, a jump to summary with the hability to edit one section if necessary (like if the user wants to changes its address). But for now yes let's open everything by default!

[2018-10-09 12:38] myriamboure commented on #30
I'm not sure steps are a good idea @RachL but we can discuss in the appropriate space when we decide to discuss it. For now it seems we have some consent emerging for deploying all sections by default at checkout.

[2018-10-09 12:39] myriamboure commented on #30
I update the main thread with this as potential (and preferred) solution

[2018-10-09 12:46] myriamboure commented on #30
@kirstenalarsen I have "merged" both issues in this one with a single solution then, can we close https://github.com/openfoodfoundation/openfoodnetwork/issues/2485? Add this one to the project then if you want. @Matt-Yorkley do you agree it's a good first issue? Even maybe hacktober fest @sauloperez ?

[2018-10-10 11:41] Matt-Yorkley commented on #30
@myriamboure it should be fine as a first issue. A bit of Angular and playing with HAML templates. It's mostly deleting code, so not too tricky.

[2018-11-08 01:49] kirstenalarsen commented on #30
To do as part of  openfoodfoundation/openfoodnetwork#2485

[2018-11-14 23:28] mllocs commented on #30
Hey, I started working on this one 😄

Some notes:

- By default, all the steps will be expanded, both in mobile and desktop.
- Clicking "Next" won't _hide_ the completed section, it will only scroll down to the next step.
- It will still be able to hide/expand sections if you click to the Hide/Expand text.

[2018-11-29 18:43] myriamboure commented on #30
I reopen the issue and updated the main thread, we noticed with @RachL something confusing on mobile, when click on next  it goes till the bottom of the next section so we don't see the top options, we have to scroll up again. This remains to be fixed. I don't know how hard it is @mllocs ? If it's possible to fix this little remaining bug that would  be awesome. The PR has been merged and this lit

[2020-09-14 17:24] Matt-Yorkley commented on #30
I'm looking through this and the work that has been done previously and it's not clear what the expected outcome is now. It looks like there are still some issues with the sections jumping around when the "next" button is clicked and the current and previous sections open and close at the same time.

We could just remove the "next" buttons entirely and not open/close the sections that way (they wo

[2020-09-15 01:03] daniellemoorhead commented on #30
@Matt-Yorkley as far as I can see the only remaining thing to be done is what Myriam mentions above:

So all that's left is for you to make sure that the next button takes the user to the top of the next section, rather than down to the bottom. That's my read of this bug, don't think we need to remove the next buttons to achieve this?

[2020-09-15 08:39] Matt-Yorkley commented on #30
The scrolling was previously removed (in openfoodfoundation/openfoodnetwork#3047) because it caused issues. Now the next button just closes one tab and opens the next, but even this can cause problems if the tabs are different sizes. I don't think we want to re-add the removed scrolling?

[2020-09-15 17:14] Erioldoesdesign commented on #30
@Matt-Yorkley after checking this in live yeah it looks like clicking next basically does the same operation as closing the expanded tab and there's no 'snap' or 'scroll' to the next section.

As a user, when you click an action like 'next' you do expect to basically have the next fillable field in your immediate vision even if it's pre-filled with saved info to just 'review'

I imagine the origin

[2020-09-18 00:50] daniellemoorhead commented on #30
Agree, thanks Eriol.

Let's go with that for now as a best case scenario and then one day we'll
completely redesign the checkout experience and make it more schwinnng :)

[2020-10-03 12:39] daniellemoorhead commented on #30
@Matt-Yorkley you ok to get this change through? Been 16 days of sitting since last activity...

[2020-10-06 01:09] daniellemoorhead commented on #30
@Matt-Yorkley would be super wonderful awesome sensational if you could sort this out in my final week so that we wrap up as much mobile work as possible pretty please with a cherry and all the best toppings on top 🙏

![](https://media.giphy.com/media/TYAYywTcAb4Iw/giphy.gif)

[2020-10-11 10:24] jaycmb opened #1 "Test"

[2020-10-11 10:58] #1 closed, assigned to nobody

[2020-10-11 11:08] jaycmb opened #2 "Allow shoppers to compare unit prices"
## What is the problem we are solving

Users would like to quickly compare the price of different products across different sizes/variants (possibly producers), displaying the price per unit (kg,l,oz,lbs..) enables them to determine which product offers the best value.

The need for this feature came up because legislation requires to display the price per unit in

- Europe:  [https://eur-lex.euro

[2020-10-11 11:10] jaycmb commented on #2
### Comments on Design

Shopfront / Shopper User

- The font colour should be same grey or even lighter than the item price, so that unit price becomes not more prominent than the actual price
- I find the "avg pack" info might be more confusing to the user than it helps, because it adds one more information in an already crowded space (item price, unit price, final price) and actually the unit pr

[2020-10-11 11:29] jaycmb commented on #2
Regarding the question for **how to display in Australia**, the legal information specifies:

The Code sets out the unit measurements that must be used for each kind of grocery item. Most products should be unit priced using the following forms of measurement:

    if sold by volume - per 100 millilitres
    if sold by weight - per 100 grams
    if sold by length - per metre
    if sold by number

[2020-10-12 10:05] Erioldoesdesign opened #3 "Inception task that needs design input"
Stage 1 - Ready for inception: Title & assigned to a product person & product curation has been prioritised and will have resource allocated.

Stage 2 - In Inception: Product team have discussed and refined the acceptance criteria. Can be assigned or labelled 'needs design input' or 'needs tech input'

[2020-10-12 10:21] Erioldoesdesign commented on #3
Here's a comment from design about an idea or comment

[2020-10-12 10:21] Erioldoesdesign commented on #3
*product disscussion* etc

[2020-10-12 10:36] Erioldoesdesign commented on #3
Now this issue has 'enough' information for design to start. but designers are still potentially asking questions at this stage.

Ideas on 'what is enough design' for features or changes to features

- (Mandatory)What areas of the product or experience are 'touched' by this work/feature?
  - The back office product list and inventory
  - The shopper experience product ist
  - How much 'new' UI/UX

[2020-10-12 10:43] Erioldoesdesign commented on #3
Papercuts process

Decide as a product and design circle -> Do papecuts get up to Xhr's of design 'thinking' as part of the papercut process.

What are the implications of this papercut for users? is it a 'no-brainer' it will only improve user experience.

If 'complicated' then probably not papercut and needs inception even if its 'light' inception

If 'no brainer' then goes very quickly past desi

[2020-10-13 07:50] Erioldoesdesign opened #4 "meeting test"

[2020-10-13 09:59] #4 closed, assigned to nobody

[2020-10-13 13:18] Erioldoesdesign commented on #2
## Design acceptance criteria:
Acceptance Criteria
These should be tested for both new products and already existing products

## Shopper Side

  - [ ] The unit price is displayed on the product list page
  - [ ] The unit price reflects the final price, including VAT and all other taxes

@jaycmb @RachL I have a question about _'final price, including VAT and all other taxes'_ I don't think that th

[2020-10-13 13:29] Erioldoesdesign commented on #2
Another AC i need to clarify is this one:

- [ ] The unit price reflects the price of the shop, not the unit price of the original product (variant) in the product list

[2020-10-19 13:42] Erioldoesdesign commented on #2
Okay so I've updated the Figma file and believe from my perspective, all AC's are met.

This one:

I had a conversation with @tschumilas and @lauriewayne in the last US & Canada call and they said that producers/users across the USA and Canada are so familiar with tax and what category their produce is in that it's like second nature and the price they input into the price field is inclusive of th

[2020-10-19 14:56] Erioldoesdesign commented on #2
I've also made a video of this issue but it also covers some of the pipe process so skip that part if you want 🤦

Video in Drive: https://drive.google.com/file/d/1fR9-f8ItS6u142UvjGtmFT2Un1eKLN4B/view?usp=sharing

[2020-10-19 15:41] RachL commented on #2
Hello @Erioldoesdesign this is great! It looks like we are going to be able to ship this one soon in delivery 💪

Two small comments on the screenshots:

1. the color and aspect of the tooltip.

Currently the tooltip is blue and therefore a bit more visible (that's a personal feeling) than the pie:

![image](https://user-images.githubusercontent.com/6525576/96471825-0b2a8c00-1230-11eb-861f-6f1124d6

[2020-10-19 17:15] sauloperez commented on #2
Regarding the "avg pack" @Erioldoesdesign pointed out in https://github.com/openfoodfoundation/inception-pipe/issues/2#issuecomment-707732058, it immediately came to my mind that would be really helpful when we are buying things like watermelons and such where you don't know how much you'll get.

I agree with @RachL that the tooltip icon seems too prominent. What about going with something more su

[2020-10-19 17:29] Erioldoesdesign commented on #2
@sauloperez be careful encouraging me, a designer with the temptation of new UI components and styles! 😂 .

But I agree, a less 'prominent ? icon can be designed and would be better!

[2020-10-19 19:18] tschumilas commented on #2
Can I clarify my comment on taxes please (might not matter here - but just to be clear).  In NA there are different taxes per municipality, state, and country.  In configuration we have set the tax categories as needed (and we add more when we need more). The producer enters their product price **WITHOUT** tax,  and selects the correct Tax Category.  When the product is ordered,  the OFN system fi

[2020-10-20 01:42] tschumilas commented on #2
One further question -   if we do proceed to have producers enter a weight for  all 'item' type products so a unit price can calculate,,   will the product import file be modified to include this weight?  (In OFN-CAN we have hubs with 2000 plus products being modified weekly - so being able to do this by importer seems necessary)

[2020-10-20 08:56] RachL commented on #2
I agree with you @sauloperez but I'm afraid we are extending a lot what we are trying to do here. This item is here so that we become compliant. I would consider average weight as another feature that we need to prioritize. There is a lot to do around price per unit already.

@tschumilas I think it's the same everywhere. Items are heavily used. However it is for EU & AU a legal requirement, I thin

[2020-10-21 11:41] Erioldoesdesign commented on #2
@tschumilas re.

Thanks for the clarification I think without being a person who operates this myself I got a bit muddled! Based off this information @RachL and @jaycmb we may need to discuss at a future point how to show unit prices *after* tax is applied for USA and CA, which is calculated after presumably, delivery address is entered. Better understanding this process is essential but could mak

[2020-10-21 13:56] jaycmb commented on #2
A comment/ small correct **on the video** (which is great by the way to get a full tour across all areas where unit price affect the product) to avoid potential confusion for testing or acceptance criteria:

 “Create a new product based on weight” example:

- If user chooses **weight(kg)** and Value 1, then the “Display As”  is automatically **1 kg** (not 100 g) as well and same for the unit price

[2020-10-21 14:02] jaycmb commented on #2
Regarding the more complicated discussion on **Items**

There has been some confusion from the beginning if products sold by item are included in these regulations.
"For simplicity" (one rule across all products) and because of user value we decided to apply the unit price for them as well.

But as this seems to be more complicated than expected - I looked into it again, and I cannot find clear in

[2020-10-21 14:53] RachL commented on #2
Also to be considered from tech side:
Effort for potential switch on Instance Level

I can't answer from a dev point of view, but from a tester: calculating a unit price in weight for weight, in volume for volume and in items for items is wayyyyy more easier to test and maintain than a switch at instance level. So if it is not legally required and it's easier for our users, it seems like a no brai

[2020-10-21 16:01] tschumilas commented on #2
There is no problem with taxes and unit pricing -   sorry I confused the discussion.  I was just correcting information  on the difference between a sales tax approach (NA)  and a VAT approach (EU) -   my comment didn't belong in this thread.  Sorry -  there is no issue re: unit pricing and how tax is calculated in NA - as RAchel notes above.

My main point on 'item' unit types is that there are m

[2020-10-21 16:24] RachL commented on #2
@tschumilas Yes that's what I mean by we calculate the unit price per weight when the unit is weight and per item when the unit is item.
So in that case you don't have the problem of translating into a weight, correct? I'm not sure why you propose to not consider item then? Maybe a call on this would be easier :)

[2020-10-21 17:06] tschumilas commented on #2
yes - correct @RachL .  I apologize for not communicating very well today.
If  -  for unit types 'item' - we take whatever unit name the producer gives -  and it automatically is used to calculate unit price -  then we can,  I think, absolutely proceed  and include this in the feature -  because we are not translating a non weight item into a weight.      (I was actually trying to give 2 different

[2020-10-21 18:50] RachL commented on #2
@tschumilas ah all good! I didn't understood 🙈

[2020-10-21 19:13] Erioldoesdesign commented on #2
Just noting I need to properly read back over these suggestions and maybe have a chat about them because I didn't easily understand.

however! this is, I believe, the best time to be raising concerns, clarifying perspective and offering information that *could improve this feature for everyone using the tool* so I welcome all this happily! 💐

[2020-10-22 01:13] mariocarabotta opened #5 "Backoffice Product List table UI uplift"
https://community.openfoodnetwork.org/t/backoffice-product-list-table-user-interface-uplift/2098

prototypes:

producer - [create first product](https://www.figma.com/proto/kBvKYXnaNU0thSnKJUoyup/Product-List-UI-uplift?node-id=10%3A0&viewport=1331%2C466%2C0.13801917433738708&scaling=min-zoom)
producer - [columns management](https://www.figma.com/proto/kBvKYXnaNU0thSnKJUoyup/Product-List-UI-uplift?

[2020-10-26 18:45] Erioldoesdesign commented on #2
Hi all, I've been making some changes to the Unit prices design work based off of multiple feedbacks. I'll make another video or two today and upload but here is the figma (same file) so far:
https://www.figma.com/file/EPKyXwl5VDQaw8IBHalCEZ/Unit-Prices?node-id=0%3A1

### Done
- [ ] Correct how products display 'UNIT' 'DISPLAY AS' and 'PRICE'.
- [ ] Change tool tip 'This is the unit price of this

[2020-10-27 16:54] jaycmb commented on #2
I had a quick look at the designs, 3 small comments

 on **the logic** (just to avoid confusion also for testing):
- The Unit price should always **indicate the price of the single unit** = Item price / Number of items
->  in the **Quiche Variants** example that would be €14,50/5=**€2,90**

on the **design:**
- for the the mobile designs: can we increase margin between the pie & the tooltip?  I th

[2020-10-27 17:44] jaycmb opened #6 "Analytics > Setup Ratio KPIS with Metabase"
## Description

As an instance manager / PM I would like to track metrics for specific ratios over time (weekly or monthly base) using Metabase.
This will help to compare how these numbers develop our time, making it easier to detect changes.

Currently ratios are in SQL, but this seems to not allow to use the Metabase functionality to group (e.g. by completed at per week) and filter (by specific

[2020-10-28 08:23] Erioldoesdesign commented on #2
Re above @jaycmb I've made these changes including: The price change accuracy re. £2.90, Changed the text colour to the lightest accessible grey which is #555555, and increased the spacing between the pie icon and (?) icon generally.

I'll be finishing the cart pages today and then doing the discourse post 😃

[2020-10-28 09:25] Erioldoesdesign opened #7 "Mobile UX - Usertesting"
Mobile UX is steadily being deployed across instances and there is a need to ensure that it is performing how we expected when we decided on the improvements. This is best done, from a designer point of view, through a mix-research approach including metrics/number analytics and user research, potentially best facilitated through user testing sessions.

A decision on the [Personas](https://www.not

[2020-10-29 00:16] Matt-Yorkley commented on #30
We've had maybe 4 or 5 iterations of this idea where "the user clicks the Next button and is _taken_ to the next panel" idea over the years and all of them have been broken. The current iteration is probably the _least_ bad. Each iteration has involved clicking the button and then some kind of jarring and confusing variation on: scrolling, jumping, or shifting of the page content, and it's never w

[2020-10-29 07:37] lin-d-hop commented on #30
Thanks for this suggestion @Matt-Yorkley
I agree these buttons create checkout problems.

Questions:
Are you just proposing to remove the Next button from the 'Shipping info' section or would you also be removing it from the 'Your Details' and 'Billing Info' sections? I would be in favour of removing them all. Note you only see the first two when you checkout as guest or new user.

Personally I wo

[2020-10-29 09:05] Matt-Yorkley commented on #30
All of them :fire::fire:

[2020-10-29 09:10] sigmundpetersen commented on #30
Looks like current behaviour is different on mobile than on desktop?
Maybe @filipefurtad0 could help out with browserstack to get an overview of the different current behaviours?

[2020-10-29 10:35] filipefurtad0 commented on #30
Hey, sure. I had a quick go at different mobile devices, and my own desktop. This seems to depend on the screen size and current zoom of the device. With the defaults, a less optimal "jump" -  scrolled down too much - is observed on all of these below, when clicking "Next", after inserting the customer address. In older devices (smaller screen) this is also happening when going for the payment met

[2020-10-29 10:53] Erioldoesdesign commented on #30
So what we have re. next buttons, is pretty non standard I agree but i don't think removing the next buttons will solve our bigger problem, just fix the very specific problem of the jerky snapping animation. So tl;dr, yes, removing the next buttons solves this issues problem. Most people will indeed scroll their mouse or touch-swipe down to get to further fields needed to complete checkout.

It's

[2020-10-29 12:32] Erioldoesdesign commented on #2
Cart pages complete! I think this is the best way to deal with the cart but as always thoughts from @RachL and @jaycmb welcome: https://www.figma.com/file/EPKyXwl5VDQaw8IBHalCEZ/Unit-Prices?node-id=0%3A1

Doing videos ready for here/discourse now!

[2020-10-29 13:31] Erioldoesdesign commented on #2
Overview and Unit price of item pack of 2: https://www.loom.com/share/06ce7a07f34c495d8848085d3055e04d

Single flavour item Quiches and pack of 5 example:
https://www.loom.com/share/286d3d9233674555b3eb79948738f34c

Weight (g) to (kg) example:
https://www.loom.com/share/13876752f4364bb58563566db9952722

Weight (g) & (kg) but added as their own products and not variants example:
https://www.loom.co

[2020-10-29 13:57] RachL commented on #30
Aligned with @Erioldoesdesign .

I believe our biguest problem on this page in not the next button, but more people thinking there are done by just landing this page 🙈 .

I would like to propose to close this issue for now, and see how we can prioritize a complete v2 of that page in the future (I agree that having several pages would be awesome, but it needs some work and thinking).

How do you gu

[2020-10-29 14:08] RachL commented on #2
@Erioldoesdesign

When inventory is used, the unit price should always be based on the price in inventory, not the product catalog price.

[2020-10-29 14:20] Erioldoesdesign commented on #2
@RachL yup noted, so that's how it currently is proposed so we're all good!

Updated the discourse post here: https://community.openfoodnetwork.org/t/display-price-per-unit-on-variants/1712/10

[2020-10-29 14:25] Erioldoesdesign commented on #30
@RachL I second this proposal, if closing this issue includes removing the next buttons.

I'd like to see if anyone sends a Customer Support request if the next buttons are removed being confused on how to complete an order.

and maybe, if folks are nervous about that do a usertest to see if I can find some evidence that removing buttons would not increase errors.

[2020-10-29 14:58] RachL commented on #30
@Erioldoesdesign our biggest support request in FR with that page is that people don't understand that by landing there they are not finished. Most of the time it's because they didn't see the next button after the address. So if we remove it, I'm afraid on our side it will translate by even more people believe they are done when they are not.

So when I was proposing to close this issue I was pro

[2020-10-29 15:53] Erioldoesdesign commented on #30
@RachL that sounds like a good idea re. Matomo but it does sound like you have good evidence that they are not noticed and therefore users are not filling out correct information needed to progress.

So I'm happy for us to **not** remove next buttons and, as a bigger piece of work *gestures broadly* fix this part of the process.

[2020-10-29 17:30] RachL commented on #30
@Erioldoesdesign yes but I have no evidence of the percentage of users. So I do have evidence, but only partial evidence :(. Maybe for all the other cases where the button shows up they do help users to understand how the checkout works 🤷 That's why I'm not so sure about solution to remove them completely. Anyway :)

[2020-10-30 02:48] mariocarabotta opened #8 "Backoffice Product List table UI uplift"
### What is the problem we are solving
As part of the network inception work, it's been highlighted several times that there's an internal interest to move away from the Inventory functionality altogether. It’s hard to understand for some users, it has been adopted from others when it’s not actually needed, and it also present some technical challenges that we want to minimize in the future.

We’v

[2020-10-30 02:49] mariocarabotta commented on #5
Closing this as it's been replaced by a dedicated epic here
https://github.com/openfoodfoundation/inception-pipe/issues/8

[2020-10-30 02:49] #5 closed, assigned to mariocarabotta

[2020-10-30 12:24] jaycmb commented on #8
This looks great!Until we have the Epic broken down into stories, some quick feedback on the designs here:

- **Overall**: Reminder that an additional column for Unit Prices is needed on product list page

- **Creating variants:**
To me the "_New Variant"_ looks not intuitive enough for a (first-time) user to add new product variants → what about adding a "+" icon in front of _New Variant_ and pos

[2020-10-30 14:36] jaycmb commented on #30
Agree with @Erioldoesdesign to close the issue **with** removing the next buttons.

Like this we get rid of the jumpy animation + potentially reduce the number of users who think they are done when using the button - to me it seems to be less confusing from a user perspective, if there is only **one Call-to-Action** on the bottom of the page (hypothesis!). Possibly users are more likely to scroll

[2020-10-30 15:13] jaycmb commented on #2
Looks good to me!
One thing: The line break for displaying price / unit if not possible in one line should be
3€ **/**
kg

i.e. the **/** goes on the same line as the price (that´s the way how slash is used as "per")
<img width="358" alt="image" src="https://user-images.githubusercontent.com/39744592/97721945-60855980-1aca-11eb-87c5-31293049817e.png">

[2020-10-30 15:37] RachL commented on #30
@jaycmb are we sure we have some? That's why I think it would be good to first gather data before deciding anything...

[2020-10-30 16:17] jaycmb commented on #30
Ah no sorry, I assumed there was evidence for that case based on

[2020-10-30 16:27] jaycmb opened #9 "Allow admin users to adjust product created in imperial units in BOM"
## What is the problem we are solving
As part of [#5888](https://github.com/openfoodfoundation/openfoodnetwork/pull/5888) products can now have units of pounds and ounces. However, on the Bulk Order Management (BOM) interface, the weight column is in grams, so to adjust an order, a user would have to convert from pounds/ounces to grams. See discussion on [#5888](https://github.com/openfoodfoundati

[2020-10-31 01:42] mariocarabotta commented on #8
Thanks @jaycmb for the feedback!

- Unit price - Yes, it was still kind of in progress while I was designing this, so I did not include it. Do you think it would need its own column? otherwise we could make the price field open a small overlay window (like unit) and display actual price and unit price fields

- New variant button - I played around in previous iteration with the idea of having a pl

[2020-11-01 13:50] Matt-Yorkley commented on #30
I was referring to that user feedback from memory of a previous bug report, I'm not sure where it actually is.

[2020-11-02 20:08] Erioldoesdesign opened #10 "Design research into shopify"
As we have more and more conversations about how to provide great user experience when creating your enterprise, shop or hub on OFN the more we discuss how other services provide this.

As a designer, we'd like to do a kind of [Competitive Testing](https://www.nngroup.com/articles/redesign-competitive-testing/) and [Value Opportunity Analysis (VOA)](https://4i.design/?directory=value-opportunity-a

[2020-11-06 12:23] jaycmb opened #11 "History of Invoice Changes"
_[This is a placeholder -> pasting things from Product Curation Meeting Discourse Post]_

https://community.openfoodnetwork.org/t/trace-order-amendments-through-invoice-lines-and-generate-legally-compliant-invoices/1502

[2020-11-06 12:24] jaycmb opened #12 "Invoice Number System"

[2020-11-06 12:42] jaycmb opened #13 "Tax Reports"
[This is a placeholder -> pasting things from Product Curation Meeting Discourse Post]

Version 2 of the tax report is out for community review! See reports channel. A chat will be organized to validate the final version and move this forward to something ready for dev.

Discourse Post
https://community.openfoodnetwork.org/t/reports-project/1935/44

[2020-11-06 12:53] jaycmb opened #14 "Network Pt. 2"
Mario did all the documentation on discourse.This might be paused while Mario is away.
https://community.openfoodnetwork.org/t/network-phase-1/1906/4
https://community.openfoodnetwork.org/t/backoffice-product-list-table-user-interface-uplift/2098/5

[2020-11-06 12:55] #3 closed, assigned to jaycmb

[2020-11-06 12:56] jaycmb commented on #3
@Erioldoesdesign I closed this issue as it was an example during setting up the process but pinging you because this is where the design ready draft sits

[2020-11-06 13:00] jaycmb opened #15 "Product Vision Process"

[2020-11-06 13:29] #15 closed, assigned to jaycmb

[2020-11-09 13:40] RachL opened #17 "Shoppers are not notified when reaching max stock level of a product"
## Description

Shoppers who reach the max stock left on a product are not notified. This used to be in place before the new design. Currently adding quantities just stop working at some point without any more explanation for the shopper.

## Expected Behavior
What we had before (yeah it was ugly but it worked :) )

![image.png](https://images.zenhubusercontent.com/595e669a61b4ca3b0a737135/4988c6c

[2020-11-09 16:24] jaycmb opened #16 "Setup Metabase for Admin"

[2020-11-10 20:34] Erioldoesdesign opened #19 "Create template for Inception issues"
Located in this PR: https://github.com/openfoodfoundation/inception-pipe/pull/18

Though there is still some information here that needs to go in our Wiki:

https://github.com/openfoodfoundation/inception-pipe/issues/3#issuecomment-723066832

Especially around how product/design make decisions on what actions/processes the issue needs to go through e.g. 'Does this request need usertesting/user res

[2020-11-10 20:37] Erioldoesdesign commented on #19
Closing - created in wrong pipe 🤦

[2020-11-10 20:38] #19 closed, assigned to Erioldoesdesign

[2020-11-11 10:09] myriamboure opened #20 "A delivery note can be issued from an existing order"
## Description
**- As a:** enterprise manager

**- On page:** somewhere in menu admin/orders (to be defined when working on UX)

**- I want to be able to do:** THIS NEED TO BE SPLIT IN MULTIPLE STORIES, starting with that placeholder for now.
- create a delivery note for a given order by entering quantity delivered for the corresponding customer
- create delivery notes by batch by selecting multip

[2020-11-11 10:34] lin-d-hop commented on #30
This is certainly a case where I wish we could do **AB testing** to see if removing the buttons made things better or worse.

We have support requests weekly saying 'I didn't get my order' or something similar, from an order that was never placed, that we have always put down to a flaw in the checkout process. Now that we have improved the mobile shopping experience we may well see this more often

[2020-11-11 18:55] Matt-Yorkley commented on #30
We can stage it at any time and play with it, if that's useful.

[2020-11-11 18:59] lin-d-hop commented on #30
I'm having weird fantasies of everyone asking their most tech illiterate friend to place an order on 2 different stagings and telling us which checkout was easier....

[2020-11-11 20:26] Erioldoesdesign commented on #30
A small agile move forward might be indicating that if a user research OSS designer wanted to pick up doing user testing on this they could and that wouldn't be my resource, but would move us towards evidence based information to make a decision on this.

So maybe adding the design label and I can post on our design circle channel and mayyyyybe even we can post on the opensourcedesign.net job boar

[2020-11-11 22:21] jaycmb commented on #30
We could also run a simple quantitative A/B test with Matomo, comparing Order Success from Checkout Page **with** (original) vs. **without**  (variation) next buttons.
Like this draft [here](https://openfoodnetwork.innocraft.cloud/index.php?module=CoreHome&action=index&idSite=1&period=day&date=yesterday#?idSite=1&period=day&date=yesterday&segment=&category=AbTesting_Experiments&subcategory=AbTesti

[2020-11-12 11:07] jaycmb opened #21 "Track Usage of Next Buttons on Checkout Page"
### Problem

As described in this issue https://github.com/openfoodfoundation/openfoodnetwork/issues/2830#issuecomment-725643672, the _"Next"_ Buttons in the current checkout flow might be confusing for users, as they possibly distract from the actual Call-to-action _"Place Order now"_.
Also, the when a user click on the "_Next"_ Button the animation is jumpy, leading to a bad User Experience.

As

[2020-11-12 11:52] jaycmb opened #22 "Improving User Discovery on OFN Map"
https://community.openfoodnetwork.org/t/improving-user-discovery-on-ofn-map/2013

[2020-11-13 02:06] kirstenalarsen commented on #22
what's happening here @jaycmb ? Is there some kind of trigger for things from discourse to come in here or we're aiming to get all wishlist items in here?

[2020-11-13 09:27] RachL commented on #22
@kirstenalarsen this item is being worked on. So we wanted to reflect it on the board so everyone knows about it and we can decide around its priority.
So definitely not getting all wishlist items here. Only those that are currently being worked on.

[2020-11-16 14:26] Erioldoesdesign commented on #2
@jaycmb fyi I've actioned the above on the mocks.

[2020-11-16 20:36] Erioldoesdesign commented on #30
Someone product wise needs to approve design time to do user testing if we want that to be managed by UX resource.

[2020-11-18 14:05] jaycmb commented on #8
### Notes of Product & Design Meeting Nov 17th
with @kirstenalarsen @RachL @Erioldoesdesign & Hernan (OFN Colombia)

Details on points discussed in [Notion](https://www.notion.so/openfoodnetwork/Network-inception-9d4189c5e1704b23948848edb3bc92fe)

**High Level Summary on open questions discussed:**

**1. Tech-Related Issues**

- _Responsive for a v1?_ : Agreed on that responsive is a necessity (an

[2020-11-18 18:11] jaycmb commented on #6
During implementation it became clear, that "complex" ratios that include 2 different dimensions (e.g. orders per customer, based on Spree_Orders and Spree_Customers) can **not use Metabase filter functionalities or visualization** like graphs over time or trends.

See Screenshot example, bottom right, filter for AVG # of Orders / Customer does not work
<img width="564" alt="image" src="https://us

[2020-11-18 20:15] jaycmb commented on #21
First attempt for Trigger on the Next Button here
https://openfoodnetwork.innocraft.cloud/index.php?module=TagManager&action=manageTriggers&date=yesterday&period=day&idSite=3&idContainer=ubVt5KXy#?idTrigger=91

[2020-11-23 20:09] jaycmb commented on #30
This one is inception now -> Hopefully tracking usage of "Next Buttons" vs scrolling to "Place Order Now Button" very soon

https://app.zenhub.com/workspaces/product--inception-pipe-5f82e534db531f000f8c09ff/issues/openfoodfoundation/inception-pipe/21

[2020-11-23 21:37] RachL commented on #30
thanks @jaycmb ! Should we move this issue there as well? I mean, it's not "in dev" anymore is it? So do we want to keep it in the main repo or the inception repo?

[2020-11-24 16:19] jaycmb commented on #21
After discussing with @mbudm, we decided that tracking "next button" usage vs "place order button" could be misleading,
since there could be many other reasons why people decide not call off the purchase - not only because annoying animation or because of they thought, the order was placed by clicking next.

It would be more precise to compare the funnels of

A)
1. User enters Checkout page
**2. U

[2020-11-24 23:53] Erioldoesdesign commented on #8
## Design round up of Mock-up AC's

### Mock up requests

- [ ] Prototype an example product with on demand stock info
I actually don't think this is needed, it already existed.

- [ ] Include "display as" (example of milk bottle @Erioldoesdesign ;))
Done across all the prototypes on the existing link on milk bottle examples and also the jar of marmalade example
Something to consider is how it's t

[2020-11-24 23:56] Erioldoesdesign commented on #8
Do we still think that the column 'on hand' needs a tool tip?

[2020-11-25 00:10] Erioldoesdesign commented on #8
**Design next up for UI Uplift**

- Any settings page changes that are affected by product list changes? (e.g. tags
- Connection between product and BOM (and other areas) for table style changes?
- Tool tips needed?
- Multiple shops mock up
- Filter by producer mock up
- Is the cards and non-cards visual hard on eyes? Test out all card design.

[2020-11-25 12:52] jaycmb commented on #8
### Feedback on Designs

![image.png](https://images.zenhubusercontent.com/5f2c695b310b603896851306/8d47a760-066b-4cab-989e-310b24b50659)

**Unit Display** I find not understandable without the explanation text
-> better: _“Displayed as”_ or _“Shown as”_, to make it consistent with the phrasing in the variant overview

One idea that came to me when looking at the new designs related to **Unit Pric

[2020-11-26 19:13] jaycmb commented on #2
Adding AC (for Tech Only, no implications for design):

**CSV Import**
- When importing CSV, the Unit Price has to be automatically calculated based on the Item price Column

[2020-11-26 19:39] jaycmb opened #23 "Metabase > Setup Purchase & Sales Frequency KPIs"
### Problem / Description

As an instance manager / product manager I would like to insights about the selling and purchasing behaviour of our enterprise users and shoppers, i.e. segment food enterprises by their sales frequency and shoppers by their buying frequency.

**Buying Frequency**
The busing frequency relates to how often a customer buys in a given unit of a lifetime.
This can be tracked

[2020-11-30 11:02] jaycmb opened #24 "Explore Backoffice UI Uplift alongside Full-Width Layout"
This is work in progress

### Description

Together with the release of Full-Width Admin Layout (https://github.com/openfoodfoundation/openfoodnetwork/pull/6070) we would like to explore the scope for a backoffice UI Uplift.
These can be small fixes that go with the release of #6070 for a "Minimum Professional Release" 😅 and bigger chunks, that will follow in later versions to improve the UI itera

[2020-11-30 13:51] jaycmb opened #25 "Metabase > Setup Impact Measurement KPIs"
*In Progress*

### Description / Problem

Currently we only started measuring business metrics. But making OFNs impact measurable is equally important, both to support  decisions and for fundraising purposes.

### Objective

Come up with a first set of KPIs (that are rather simple to measure with Metabase)

### KPIs / Queries to be created

**Objective 1: Sales Concentration:**
Hypothesis: OFN emp

[2020-11-30 17:24] Erioldoesdesign commented on #2
Here's the 'cleaned' Figma files: https://www.figma.com/file/JipdbYxaWxDN5i7L1coniF/Unit-Prices-Cleaned-for-dev-pipe?node-id=0%3A1

All actions have been completed from last weeks wrap up meeting and a discourse post has been made:
https://community.openfoodnetwork.org/t/display-price-per-unit-on-variants/1712/27

Design's next task will be supporting product & dev through the pipe with any clarif

[2020-11-30 17:40] Erioldoesdesign commented on #21
Does this also need usability hub testing/usertesting?

[2020-11-30 17:41] Erioldoesdesign opened #26 "Usertesting - Unit Prices"
Once the Unit prices work has progressed through the development pipe into our live product we should conduct user testing to confirm any theories and hypothesis about user behaviours that we discussed early in this process.

Rough questions to inform usertesting once in live:

Shoppers
- Do shoppers understand the difference between price and unit price?
- If yes, is there a clear difference betw

[2020-11-30 17:56] Erioldoesdesign commented on #17
Does this need more than just my design comments above? Does this need mock-ups?

[2020-11-30 19:17] jaycmb opened #27 "Review Sign Up Flow | Shoppers vs. Enterprise users"
### Description / Problem

Work in Progress

Currently the sign-pp process is not optimized for our target user (enterprise users, i.e. "Managers of Food Hubs") because focused on shoppers.

The 2-section sign-up
1. Signup as a shopper first
2. Then register as an enterprise user
is complicated and entering 2) enterprise registration is very hard to find:
Users have to scroll down after they confi

[2020-11-30 21:02] jaycmb commented on #24
Frontend Dev& @kirstenalarsen s Input needed

[2020-11-30 21:11] Erioldoesdesign commented on #24
current PR is staged here: https://staging.coopcircuits.fr/

Design tasks are:

1. Go through the PR and catalogue biggest UX/UI offenders (I can use UX s-1 to s-4 ratings)
2. Split into things that need simple tweaking vs things that might be bigger pieces
3. Complete 'written design' on simple fixes.
4. Do X limited time of design work on complex things which might be half a day max on how to ma

[2020-11-30 21:41] jaycmb opened #28 "Improved Reporting"
### Description

This is a placeholder for "Super Epic" around reporting.
All Issues related to reporting shall be linked to this.

[2020-11-30 21:43] jaycmb commented on #28
Assigning @lin-d-hop for now to coordinate

[2020-12-01 14:39] jaycmb commented on #8
Is this still Blocked by "Product Input needed"?
Or currently Tech & Community?

[2020-12-01 15:00] RachL commented on #8
@jaycmb we need @kirstenalarsen 's input on scope to have final community approval. Then a lot of question are remaining for the new dev that will pick this up with the nex tech stack.

[2020-12-01 15:18] jaycmb opened #29 "Wishlist Mapping"
### Description

This is part of the Product Vision / Product strategy workstream.

The idea is to have a mapping of the wishlist items that gives a understanding of where community requests are, connected with the current Product Mapping: https://community.openfoodnetwork.org/t/proposal-ofn-product-overview/2121/9

Work has been started here: https://miro.com/app/board/o9J_kib80B4=/

[2020-12-04 00:19] mkllnk commented on #21
I'm wondering if people actually exit the checkout page without buying or if they just take longer to figure it out. Would it be a bit easier to measure how long people stay on the checkout page on average? The shorter they stay, the more efficiently they are navigating the page and get to where they want.

Aborting and not buying is a valid user choice as well, e.g. after deciding that the shippi

[2020-12-04 14:51] hhomann2909 commented on #12
Not sure if this is the right place to post this (sorry in case it is not, we are new to the product curation process) - each hub should be able to create its own invoice numbering pattern. At least for germany invoices need to have ongoing numbers

[2020-12-04 15:25] RachL commented on #12
@hhomann2909 have a look at https://community.openfoodnetwork.org/t/trace-order-amendments-through-invoice-lines-and-generate-legally-compliant-invoices/1502 There you have all the info we have gathered until now.
We will probably release the work in 2 stages: first getting history on invoices, second dealing with numbering, but for now we gather everything in one place.
This item is currently in

[2020-12-10 00:48] Erioldoesdesign commented on #21
I have four people lined up for quick usertests on this. I'll draft up a rough test script and share before I book in the usertests

[2020-12-14 12:56] jaycmb commented on #14
Parked, until @mariocarabotta is back

[2020-12-14 13:11] jaycmb commented on #30
@RachL Only seeing this comment now. Yes, since there is an discussion ongoing around on how to best track this and user testing in planning, let´s move it to inception pipe until we have clarity.

[2020-12-14 13:31] jaycmb commented on #21
I also think tracking visit duration on this page will **not help us with the original question / discussion that was around improving the UX on the checkout page** (https://github.com/openfoodfoundation/openfoodnetwork/issues/2830) and **whether this can be achieved by removing next buttons and the jumpy animation** or if removing next buttons will lead to confusion because they are currently use

[2020-12-14 14:23] jaycmb commented on #21
P.S. Since the visibility tracking seems not to work accurately (and can be investigated with user testing) ,
an alternative approach if we want to at least validate weather next buttons are used in (successful) checkout flows (as much as in aborted ones) could be to compare funnels of

Users that
1)
- enter checkout page
- click on next button
- (click on place order now button -> does not need t

[2020-12-14 21:33] RachL commented on #24
@Erioldoesdesign we were not sure with @jaycmb do you confirm that your are good to go here or are you still waiting on Matt for something?

[2020-12-16 06:36] kirstenalarsen commented on #8
Only additionl comment I have here I think is that @mariocarabotta did do a lot of thinking about positioning and selection of columns. This included lots of looking at other ecommerce and food / product / inventory systems and shaped his suggestions as to which ones should be left, prominent, sticky I think. Not sure how this plays into responsive, but might suggest that the five suggested by def

[2020-12-16 06:42] kirstenalarsen commented on #8
re. scope
* Any settings page changes that are affected by product list changes? (e.g. tags in settings)
I don't think so. as discussed on slack the tags in product page are not goin to be connected to tag rules in this iteration and perhaps not even soon

* Connection between product and BOM (and other areas) for table style changes?
this is broaer UX strategy that is more a question for you than

[2020-12-16 08:16] Erioldoesdesign commented on #28
I'm also doing my 'pre-work' understanding this problem from design pov. But not ready to move into 'in design'

[2020-12-16 10:04] Erioldoesdesign commented on #24
Not waiting on Matt @RachL I might drop him some DM's if I have questions but the next step after design has finished the google slides/review/recommendations and then any design work is to talk through those implications between @Matt-Yorkley myself and a Product person :)

[2020-12-18 18:20] RachL opened #31 "Allow enterprises to set their own time zone"
See https://community.openfoodnetwork.org/t/allow-enterprises-to-set-their-own-time-zone/2058

and

https://openfoodnetwork.slack.com/archives/CG7NJ966B/p1600561652011600

and proposed solution by Andy here: https://github.com/openfoodfoundation/openfoodnetwork/pull/6095

This needs to be incepted one day to see what kind of solution we want to implement. For now I'm parking this so we don't forge

[2020-12-21 12:30] jaycmb opened #32 "Investigate improving Checkout Flow UX & Performance"
### Description

Initiated by the work on adjustments and the way how tax calculations influence the final price, we would like to explore splitting the checkout in 2 pages and/or to improve the overall UX and legal compliance of the checkout process.

**- 1. Legal Compliance:**  Currently OFN is not compliant to the "Double-Click-Rule":  EU law requires a checkout process to have an order summary

[2020-12-21 12:49] jaycmb commented on #32
This is going to be a work in progress for legal requirements.

- [ ] Add clear indication for placing an order is connected to a payment

<img width="749" alt="image" src="https://user-images.githubusercontent.com/39744592/102778075-292c7e00-4392-11eb-94ba-67c697f1603f.png">

[2020-12-21 16:20] jaycmb opened #33 "Analytics | Set up Matomo Data Layer"
### Description

The request for setting up Data Layer came up in the discussions around OFN Admin tracking.
Currently we are not able to clearly separate shoppers from Admin users using frontoffice.

We are currently using a workaround for tracking Admin Users by "users who visited a page /admin".

As discussed, the Data Layer should help us for example to track users that are logged in as Admin

[2020-12-22 16:14] jaycmb commented on #32
An attempt to explain the various implications of tax & shipping calculations on price.
<img width="848" alt="image" src="https://user-images.githubusercontent.com/39744592/102909387-307a8700-4479-11eb-8f1e-8865e12fd63f.png">

[2020-12-23 15:43] tschumilas commented on #32
Correction to the tax model  for 'display price inclusive of tax':    the decision point re: available shipping methods  is,  I think,  the first decision point that needs to happen.   IF this is a delivery/shipping method -   then zone of the buyer  determines the product tax,  the shipping tax and the tax on fees.    IF this is a pickup method,  then the address of the buyer is not relevant.  Th

[2020-12-30 13:05] Erioldoesdesign commented on #7
Usertesting script is located: https://www.notion.so/openfoodnetwork/Mobile-UX-Usertesting-bd8acdcc2071476dbae9511e9de26ce8

Did a rush on this script because I had an extra 3 people sign up for the 'Next buttons' test so I wanted to spread out testing insight.

[2021-01-06 12:40] jaycmb commented on #17
As discussed in delivery train @mkllnk could do an easy fix

1.
make the [ + ] button our ‘deactivate’ grey until the minus is clicked.
Deactivate grey on the shop front looks to be... #6C6C6C

Next step is
2. Explanation Why: adding a hint to indicate that max stock quantity is reached
-> Possibly we need a design for this @Erioldoesdesign

[2021-01-11 18:43] Erioldoesdesign commented on #24
Hey folks! here's the design sweep/QA of this: https://docs.google.com/presentation/d/1D0nqGRMhPaadgVd7KgS99gq2WqSvjgbKhaUKd4CZeYk/edit#slide=id.gb1b5274d1d_0_660

we'll be chatting out it in product curation today 11.01.2021

[2021-01-11 18:51] Erioldoesdesign commented on #8
There's some further questions that came up from my conversation with Theresa and Laurie last week that I've briefly spoken to Jana about but need some organisational PM input.

[2021-01-11 19:01] jaycmb opened #34 "Create a style guide or pattern library for OFN styles"
### Problem Description

Currently there is no OFN CSS library or style guide where all UI styles are documented in one place.
This leads to inconsistencies of styles across the product (both shopfront & admin), that are confusing to shoppers and admin users.

### Solution

A library that includes all styles in use across different elements
- Fonts & Font Sizes
- Button Styles & States (Active, Di

[2021-01-11 19:16] Erioldoesdesign commented on #34
I started this work when i first joined by starting a document for 'Interface inventory' https://docs.google.com/presentation/d/1wkM5XUaHpLq-rB4HQ14-IDO__26PFpLiVMmjXhqLaY0/edit?usp=sharing

here's the folder with the up to date screen grabs: https://drive.google.com/drive/folders/18gcoAUyhP_nTQ_VNQZINtVvGcQ2HplJR?usp=sharing

the idea of this exercise being done before a pattern/CSS library is to

[2021-01-12 12:04] jaycmb commented on #34
Cool! I think having that screen grabs in a structured way would be a good start for a "directory" of which styles are currently used and where.

[2021-01-14 18:34] Erioldoesdesign commented on #34
There's also a growing style component guide in Figma: https://www.figma.com/file/A1RDmHC9dMxhjF7JTtiMuB/Components-library?node-id=0%3A1

[2021-01-19 17:39] Erioldoesdesign commented on #34
I also have access to some work that Yuko did in 2018 on this here: https://zpl.io/2GXg6g9

I believe one of the problems is that there is not an 'open' **single source of truth** for the visual style guide of OFN. My frame of reference is from Ushahidi's [Pattern Library](http://preview.ushahidi.com/platform-pattern-library/master/) [docs here](https://docs.ushahidi.com/platform-developer-documen

[2021-01-20 08:19] lin-d-hop commented on #13
Community seems happy with the reports inception here.
My next step is to check the Search Input fields have agreement and then break this into issues.

[2021-01-20 15:55] jaycmb commented on #32
@Matt-Yorkley wrote a discourse pos ont splitting the checkout here: https://community.openfoodnetwork.org/t/splitting-the-checkout/2173

[2021-01-26 07:49] jibees commented on #34
Hi.
(sorry, I'm late, I didn't see this notification)
I totally agree on building such a styleguide: as you mentioned I think it's very relevant and useless to have on single source of truth, both for developers and designers (but maybe for product manager too).
Having it on Figma, or maybe elsewhere could be a good first step but is, to my opinion, not enough. To trust such a styleguide and avoid

[2021-01-26 16:53] jaycmb opened #35 "Propose non-regression tasks that do not involve design work"
We cannot wait Backoffice UI Uplift to release the PR but we want to investigate if there are some improvements possible (that do not require design work), that could be done rather soon by JB

[2021-01-26 19:03] jaycmb commented on #35
Connected to this issue:
https://github.com/openfoodfoundation/openfoodnetwork/issues/6746

- [ ] Go through Slides of Design Sweep done by @Erioldoesdesign  https://docs.google.com/presentation/d/1D0nqGRMhPaadgVd7KgS99gq2WqSvjgbKhaUKd4CZeYk/edit#slide=id.gb1b5274d1d_0_660

- [ ] Check whether there are small improvements that do not require (much) design

[2021-01-27 08:32] lin-d-hop opened #36 "API Strategy"
Facilitate a process for defining our API product strategy

[2021-01-27 08:33] lin-d-hop commented on #36
https://community.openfoodnetwork.org/t/toward-a-roadmap-for-our-api/2063

[2021-01-27 09:28] kirstenalarsen commented on #22
[] Check in with @jules on availability and comfort updating [the PR](https://github.com/openfoodfoundation/openfoodnetwork/issues/6584) to deal with upgrades etc that have happened since
[] Review full history and see if current / updated spec actually makes sense and has thought through everything i.e SHOULD be accepted by the community
[] If yes, and Jules has time to get it through, then summa

[2021-01-30 18:51] Erioldoesdesign commented on #8
Both the[ notion document](https://www.notion.so/openfoodnetwork/Product-UI-uplift-Phase-1-56e12e50a20348688b984a49d0c2120a
), [Figma designs](https://www.figma.com/file/kBvKYXnaNU0thSnKJUoyup/Product-List-UI-uplift?node-id=0%3A1
) and the [discourse post](https://community.openfoodnetwork.org/t/backoffice-product-list-table-user-interface-uplift/2098/16) have now been updated!

[2021-02-02 01:25] kirstenalarsen commented on #22
My view is that what is currently proposed DOES make sense and SHOULD be accepted by the community. Have messages @jules re availability and the question of working regardless of OSM/google maps and rebasing for upgrades happening in the background. TBC

[2021-02-02 02:06] jecarney commented on #22
Hi @kirstenalarsen , I'll have a look this weekend and get it as close to done as I can, then pass it along if I'm stuck on anything, if that works for everyone?

[2021-02-02 11:47] lin-d-hop commented on #13
Last step is to create issues

[2021-02-02 11:55] lin-d-hop opened #37 "[API Strategy] Meetings"
Have a meeting on Thursday.

[2021-02-02 11:56] lin-d-hop opened #38 "[Tax Reports] Create Issues"

[2021-02-02 19:47] kirstenalarsen opened #39 "Papercuts round"
[] Can people call on Jana to help them get papercuts specified well enough for consideration - product support to instances

[2021-02-02 20:27] kirstenalarsen opened #40 "Welcome new Product board?"
Should we create a task board where we keep track of things that people could do?
[] Review potential papercuts and confirm (noting on issue) whether they are valid / still a problem

[2021-02-03 08:25] Erioldoesdesign commented on #7
### Closing this issue out with 'opening up all the research notes' here.

## Test plan and script

## Target User

Test with max 5 users who are likely to be regular and reasonably proficient online shoppers for food and/or groceries. They don't need to be experts in online shopping, but know it exists and have placed at leas one shopping order within the last 3-6 months.

Alternatively, we want

[2021-02-03 08:25] #7 closed, assigned to Erioldoesdesign

[2021-02-03 08:43] #21 closed, assigned to mbudm, jaycmb

[2021-02-03 08:50] jaycmb opened #41 "Support US & CAN that they get their PaperCuts into the Pipe"

[2021-02-08 12:07] Erioldoesdesign commented on #30
Just linking the issue for the user-testing that included understanding this problem: https://github.com/openfoodfoundation/product-pipe/issues/21

[2021-02-08 17:01] #35 closed, assigned to jaycmb

[2021-02-09 23:13] jaycmb commented on #32
Kick-Off Call today:
We decided on an approach that will split the checkout into (at least) 2 steps:
- 1. User enters their details (could be 2 different steps for shipping address and payment details) -> CTA: Check Order Summary
- 2. Order Summary Page, where they can check their Order Details (Products / Cart, Shipping & Billing Address, Payment Details, Final Price -> CTA: Place Order

Like thi

[2021-02-10 08:12] lin-d-hop opened #42 "A new application process for delivery team"
Plans to create a simple, always open application process for devs and potentially other delivery roles.

This will involve a form (probs google) embedded in the website and an automated email that follows explaining what happens next (eg get involved in the Welcome New Developers Board)

[2021-02-10 08:17] #38 closed, assigned to nobody

[2021-02-15 16:27] #39 closed, assigned to kirstenalarsen

[2021-02-15 16:28] jaycmb commented on #39
Closed, as this is duplicate to #41 https://app.zenhub.com/workspaces/product--inception-pipe-5f82e534db531f000f8c09ff/issues/openfoodfoundation/inception-pipe/41

[2021-02-16 15:18] lin-d-hop opened #43 "Stripe SCA Phase 3: Remove Stripe Connect"
1. Work out a roll out plan with instances
2. Confirm completion
3. Remove Stripe Connect

[2021-02-16 15:19] #37 closed, assigned to nobody

[2021-02-19 11:17] #24 closed, assigned to Matt-Yorkley, Erioldoesdesign, jaycmb

[2021-02-22 15:06] Erioldoesdesign commented on #32
Hey folks,

There's 3 options for how to split the checkout currently here on Figma: https://www.figma.com/file/Y4i3BrRIo5dnmE0MNH0NrD/Checkout-Splitting-UI?node-id=0%3A1

This now needs Product and Developers to take a look as assess:
1. Are there any big AC's for design missed?
2. Which options fit our scope of dev time and also solve our user story

If there's anything to come back to design th

[2021-02-22 19:28] jaycmb commented on #32
In general, I think from the versions the one titled as "Estimated Shipping View" is more in the scope of what we are trying to achieve: solves the perfomance issues, the incorrectly displayed prices, addresses the legal requirements + improving the user experience :)
Although I personally find having the cart visible during the checkout process could be helpful for the user.

Feedback step by ste

[2021-02-22 19:36] jaycmb commented on #32
Ah sorry, just seen that for the 3rd version "No Summary View options" the CTAs  are different and actually pretty much aligned with what I proposed above :)
So for the purpose of focus the decision on whether to go with or without summary view, would be good to adjust CTAs so that the rest of the flow is equal?

[2021-02-22 21:13] jaycmb opened #44 "Spike: investigate performance improvements"
Placeholder for an issue, that was decided in product curation:
explore what can be done to improve performance.

**Goal (tbd)**
- Detecting what is causing biggest performance issues
- Lowering the timeouts on reports
- ...

Potentially from this spike could come some issues on reports, but Matt was also mentioning that reports are not among the pages causing the biggest performance troubles

[2021-02-23 11:38] Matt-Yorkley commented on #44
Top 10 longest responses from pages/endpoints over the last month:

![Screenshot from 2021-02-22 21-14-51](https://user-images.githubusercontent.com/9029026/108838192-98616100-75d3-11eb-9ad1-d05502111fb0.png)

Only 2 of those 10 are reports :point_up:. The other 8 can be looked at and we'll probably find there are some quick wins to be had there.

[2021-02-24 08:08] #42 closed, assigned to lin-d-hop

[2021-02-24 15:36] sstead opened #45 "Bugs in the Products and Inventory reports"
## Description
A series of bugs found while testing https://github.com/openfoodfoundation/openfoodnetwork/pull/2413

I suspect this report needs a total overhaul/rethink, so I'm not going to make individual bugs for each of these problems...

- When filtering by distributor only, the reports aren't showing all products that the shop has permission to stock in their OC as it should. Some products d

[2021-02-24 15:51] luisramos0 opened #46 "[API for shopfronts] Make OFN API ready for external shopfronts"
This EPIC represents the work necessary to have OFN API support external shopfronts that list products and allow users to checkout on the OFN platform.
This can be done after the API clean up openfoodfoundation/openfoodnetwork#4071

[2021-02-24 19:49] luisramos0 opened #47 "[API for shopfronts] Move Checkout json endpoints to API and decouple from Spree decorators"
## Description
Issue raised in Spree Upgrade discussions [here](https://github.com/openfoodfoundation/openfoodnetwork/wiki/Checkout-customisations) but not really necessary for the Spree upgrade.
This is a major improvement and a very good example of what we need to do to make the OFN API possible. Basically, separate the API we already have into a standalone part of the code and disentangle it fr

[2021-02-24 19:50] luisramos0 opened #48 "[API for shopfronts] Refactor OFN shop list to use API for add line items to cart"
## Description
Spree 2 has changed order.add_variant and a few more things in Order and OrderPopulator. See the [checkout customizations wiki page](https://github.com/openfoodfoundation/openfoodnetwork/wiki/Spree-Upgrade:-Checkout-customisations) for context.

We propose to move away from extending Spree code order_decorator and order_populator_decorator and re-implement this logic in OFN.
So, the

[2021-03-01 11:32] jibees commented on #32
Hi,

Thanks a lot for your work @Erioldoesdesign and your feedbacks @jaycmb : I agree many of yours, and I do prefer the V3 (No summary view option) version with the order summary component displayed like on other pages: ![Capture d’écran 2021-03-01 à 12.27.52.png](https://images.zenhubusercontent.com/5ff4980976fe25c17e594ba3/88f18c99-e364-4708-9993-04bfe2e2421c)
 I think it's better from user's

[2021-03-01 12:21] RachL commented on #32
Hello :) I'm not looking at this into detail: I trust you guys and will have a look only once it is out for community feedback ;) . Just a question for my general knowledge: this new checkout view will still be developed in Angular?

[2021-03-02 12:59] Erioldoesdesign commented on #32
Cool unless there's more internal product and dev feedback (@Matt-Yorkley ?) then this is ready for community feedback round!

https://www.figma.com/file/4C4ACKK3B5G9NDkMRnCTgd/Splitting-the-Checkout-v2?node-id=0%3A1

[2021-03-03 21:28] Erioldoesdesign commented on #32
Thumbs up from Matt! - this is going to community feedback with this in the Discourse:

https://community.openfoodnetwork.org/t/a-new-split-checkout-community-feedback-on-designs/2235

[2021-03-05 13:59] Erioldoesdesign commented on #26
Usertesting script for unit prices has been completed and ready for a review from product:
https://www.notion.so/openfoodnetwork/Unit-prices-Usertesting-4302b4e12c0846d9bb071278654b428a

[2021-03-05 14:01] Erioldoesdesign commented on #22
I don't think this needs design work anymore?

[2021-03-08 11:59] #30 closed, assigned to Matt-Yorkley

[2021-03-08 12:01] jaycmb commented on #30
Closed as it was decided to redesign & split the checkout, by this we are also getting rid of the next buttons

[2021-03-08 12:25] jaycmb commented on #44
Interesting! Thanks for checking this @Matt-Yorkley :pray::skin-tone-2:

To be discussed in tonight´s product curation meeting

[2021-03-16 11:28] Erioldoesdesign opened #49 "Welcome new designers board"
Create a welcome new designers board that is similar in structure and process to the welcome new developers board.

- [ ] Needs to exist on github - but what repo? dev? or inception? https://github.com/openfoodfoundation/openfoodnetwork/projects/27
- [ ] Needs to exist on .org website https://www.openfoodnetwork.org/become-a-contributor/
- [ ] Needs to exist in docs:https://ofn-user-guide.gitbook.

[2021-03-16 11:28] Erioldoesdesign commented on #49
Some planning been done here adhoc: https://www.notion.so/openfoodnetwork/Design-onboarding-for-OSS-Designers-d5616369f03c4fec9db7f36ff87f93cf

[2021-03-16 14:40] jaycmb opened #50 "Investigate product analytics for new checkout process"
Together with a voluntary contributor, we will try to set up a basic way of tracking metrics for the new checkout process

[2021-03-17 08:09] lin-d-hop opened #51 "Core/Non Core Instances"
https://community.openfoodnetwork.org/t/core-non-core-instances-and-sysadmin-support/2068/47

[2021-03-17 08:12] lin-d-hop opened #52 "Pipe, Features and Funds"
Exploring how to enable our pipe to accommodate funded features.
Exploring how features might be crowdfunded by the community.
Exploring how the API product fits into this.

https://community.openfoodnetwork.org/t/a-proposal-for-fundraising-for-features/2236
https://github.com/openfoodfoundation/inception-pipe/issues/36

[2021-03-19 15:50] jaycmb commented on #32
Latest Designs here:
https://www.figma.com/file/tseK3VLv18myB5BSES0mtm/Splitting-the-Checkout-v3

[2021-03-19 15:51] #44 closed, assigned to nobody

[2021-03-22 19:47] jaycmb opened #53 "Break down Product List Epic into components"
As discussed with @Erioldoesdesign and @jiibes, we will break down the epic needs in junks of 'molecule size' (following the [Atomic Design Methodology](https://atomicdesign.bradfrost.com/chapter-2/#atoms)) that ca be used to build components for the Style guide.

The Molecules are defined here:
https://www.notion.so/openfoodnetwork/Product-List-Page-Components-Breakdown-3856439705104bfd8f5ff23398

[2021-03-23 08:11] Erioldoesdesign opened #54 "Usertesting - Checkout split new design"
Notion document located here: https://www.notion.so/openfoodnetwork/Splitting-the-checkout-Usertesting-0aee53b69b8847acab8c28742cb0d635

Ready for review and comments.

[2021-03-23 08:45] Erioldoesdesign opened #55 "MCFE - Validation of Focus Problems UX research"
As part of the product vision process we identified a number of focus problems that are core to our primary user the 'Moderately Complex Food Enterprise Manager'. The research focuses on understanding these focus problems and validating with those representative of our core user (MCFE) that they consider this high importance and key pain points for OFN to work on too
Discovering other focus proble

[2021-03-23 08:45] Erioldoesdesign commented on #22
Can this be closed? @kirstenalarsen

[2021-03-23 08:46] Erioldoesdesign commented on #8
This moving into the dev pipe?

[2021-03-24 12:56] Matt-Yorkley commented on #34
I'm sensing a very large amount of excitement about implementing a styleguide. Couple of questions:

- We'll just be adding the _new_ components to the styleguide as we create them, right? Not creating a catalogue of all the existing UI elements?
- The one that's been proposed is [StoryBook](https://github.com/jonspalmer/view_component_storybook), which works directly with ViewComponents code?
- I

[2021-03-25 08:27] jibees commented on #34
Hi @Matt-Yorkley ,
Here's my answers, according to what I understand, and what I'm expecting:
  - Yes, adding only new component as we create is, to me, a good way to start around StyleGuide. Maybe later, we could add components to StyleGuide if we have to modified it. And maybe even later, we could do some effort to add each component we use. But let's start with the lean way: adding only _new_ c

[2021-03-29 15:49] #22 closed, assigned to kirstenalarsen

[2021-03-29 15:49] #13 closed, assigned to lin-d-hop, Matt-Yorkley

[2021-03-29 16:03] jaycmb commented on #32
What´s still missing to finalize the design / inception phase, was a decision on how to do the 'Order Total' on the Order Summary Page, blocked by the discussion how to present tax.

Summary from conversation with @matt-yorkley and community feedback:

**1. How to present tax for different instances**
V1: We will have 2 different versions of how to present tax for instances with tax included vs. t

[2021-03-29 16:28] jaycmb commented on #53
Issues are created in the Dev Pipe.

Doublecheck from @kirstenalarsen needed, if intended behaviour is described.

Design input on this one needed:
https://app.zenhub.com/workspaces/dev-pipe-54b840c6a249c8781446d4b2/issues/openfoodfoundation/openfoodnetwork/7204

[2021-03-31 12:36] Erioldoesdesign commented on #32
Okay I updated the Figam file: https://www.figma.com/file/tseK3VLv18myB5BSES0mtm/Splitting-the-Checkout-v3?node-id=0%3A1

With changes to tax area and also a quick go at:

![Screenshot 2021-03-31 at 13.32.26.png](https://images.zenhubusercontent.com/5a6a0d5a4b5806bc2bc44bb9/777acff1-b01c-4c12-87c6-078b029d66ae)

There's a lot more improvement that can be made to the 'header' section of these pages

[2021-04-13 15:13] jaycmb commented on #32
Last minor design changes discussed, @Erioldoesdesign to share final design file
Moving this Epic to Delivery Pipe and start creating issues :muscle:

[2021-04-19 12:07] Erioldoesdesign commented on #54
**To do:** We'll need to find 6 user testers that we either pay an honorarium or they agree to do this for free.

[2021-04-19 12:10] Erioldoesdesign commented on #54
**To do:** We'll need to either agree to user test on a feature toggled staging site or invest design time in creating better clickable prototypes for user-testing which could take a number of days to create and check they work correctly.

[2021-04-20 08:48] Erioldoesdesign commented on #49
Issues need adding

[2021-04-20 08:48] Erioldoesdesign commented on #49
https://github.com/openfoodfoundation/design/projects/1

[2021-04-20 08:48] Erioldoesdesign commented on #49
There's a new design repo for the project board

[2021-04-20 08:49] Erioldoesdesign commented on #26
To do: Needs recruiting user testers for

To do: Need to know if we can test in a staging site using feature toggle or whether we need prototypes

[2021-04-26 19:02] jaycmb commented on #54
Checked script - added one comment but looks good to me!

[2021-05-03 14:56] #53 closed, assigned to Erioldoesdesign, jaycmb

[2021-05-03 15:48] jibees commented on #34
Hi there !
StyleGuide is done: https://github.com/openfoodfoundation/openfoodnetwork/pull/7284 ! 🎉
Now we need to choose between two CSS framework, that's why I created two issues, to test them:
https://github.com/openfoodfoundation/openfoodnetwork/issues/7500
https://github.com/openfoodfoundation/openfoodnetwork/issues/7501

[2021-05-05 11:24] jaycmb opened #56 "Enable MCFE to adjust orders"

[2021-05-05 11:33] jaycmb opened #57 "Enable MCFE to provide vouchers to their customers"

[2021-05-05 11:37] jaycmb opened #58 "Enable MCFE to manage/offer custom prices"

[2021-05-05 11:38] jaycmb opened #59 "Enable MCFE to provide discounts"

[2021-05-05 13:27] jaycmb opened #60 "Enable MCFE to manage stock info from suppliers"

[2021-05-05 13:28] jaycmb opened #61 "Enable MCFE to notify producers about orders"

[2021-05-05 13:32] jaycmb opened #62 "Enable MCFE to place purchase orders"

[2021-05-05 13:46] jaycmb opened #63 "Enable MCFE to pay their producers"

[2021-05-05 13:47] jaycmb opened #64 "Enable suppliers to issue invoices to the MCFE"

[2021-05-05 13:53] jaycmb opened #65 "Provide delivery reports to the MCFE"

[2021-05-05 13:59] jaycmb opened #66 "Provide MCFE order details for packing"

[2021-05-05 14:04] jaycmb opened #67 "Enable MCFE to adjust orders"

[2021-05-05 14:05] jaycmb opened #68 "Allow MCFE to process refunds"

[2021-05-05 14:06] #56 closed, assigned to nobody

[2021-05-05 14:22] jaycmb opened #69 "Enable MCFE to send alerts to their customers"

[2021-05-05 14:27] jaycmb opened #70 "Enable MCFE to manage stock info from suppliers"

[2021-05-05 14:36] jaycmb opened #71 "Split Checkout"

[2021-05-05 15:14] jaycmb opened #72 "Product List UI Uplift"

[2021-05-25 18:01] jaycmb opened #73 "Investigate Payment method validation for checkout process"
The Kickoff Call brought up the discussion of in **which step** in the checkout process the user gets forwarded to PayPal or Stripe

New proposal is:

**Option A**
- 2nd Step "Payment Method" is purely for the user to **select their payment option** and see related fees but **not enter any details**
- 3rd step Order Summary: both for Credit Card and Paypal users are asked to enter their informatio

[2021-06-03 16:26] Matt-Yorkley commented on #73
I think A and B are probably both feasible, and with B we can show whatever we show now when the user has a previously save card when they get to the checkout (which I think is the last 4 digits) :ok_hand:

[2021-06-07 09:33] jaycmb commented on #73
Cool, thanks for investigating!
Only thing yet to clarify: could the user still use a previously saved card when we go for **Option A**?
As far as I understood the user´s credi cards are saved with Stripe anyways, but don´t know if the user could select them when forwarded to Stripe after placing the order?

[2021-06-24 10:42] lbwright22 opened #74 "Add Bulk Order Management adjusted values to Order Edit page"
## Description

Hub manager updates the final weight/volume of an item after purchase using the Bulk Order Management facility (for instance for the weight of a joint of meat or a whole pumpkin).
Price of the item changes in Edit Order but there is no trail of why. The final weight of the item is not updated on Order.  No changes are recorded in 'Adjustments'.

Leads to confusion for hub manager a

[2021-06-24 10:43] RachL commented on #74
Transfering to the inception-pipe: I still believe we will look into this as part of the history of invoice changes.

[2021-06-24 10:46] RachL opened #75 "History of invoice changes"
Will complete the description of the epic soon. relates to : https://community.openfoodnetwork.org/t/trace-order-amendments-through-invoice-lines-and-generate-legally-compliant-invoices/1502

[2021-08-02 17:43] jaycmb opened #76 "Run Shipment state analysis for FR, UK, AUS, CAN & US"
To investigate in more detail how hubs are using shipment states, we need to identify the  hubs that are using shipment states per instance the most.
By running number of orders with  shippment state= `shipped`  against total number of orders per hub, we can narrow down to hubs that are using the feature for (almost) all orders

- [x] Jana Brauch to define queries and run in Metabase for FR, UK, A

[2021-08-02 17:45] jaycmb commented on #76
**Results for UK, FR, AUS in here:**
https://docs.google.com/spreadsheets/d/1HKtquVdIovSPnQCkW9husnJcWk3p2YOOBX65y4JboBc/edit?usp=sharing

**Query:**

1.To identify hubs that using shipment state = `shipped` the most per instance
(for orders created: Jan 1st 2021 - Jul 15th 2021, to exclude orders that are still in progress)

SELECT "public"."spree_orders"."distributor_id" AS "distributor_id", cou

[2021-08-03 16:42] jaycmb opened #77 "Spike: Explore solutions to distinguish the 3 order types"
### Description

During the order states work several times the question whether we can somehow distinguish the different "sources" or types came up

- Shopfront
- Backoffice
- Subscription

Knowing how/where an order has been created would be helpful for many use cases,
e.g. in order to immediately assess which order type caused a bug or to understand the share of different order types (via Metab

[2021-08-04 15:27] #50 closed, assigned to jaycmb

[2021-08-04 15:27] #6 closed, assigned to jaycmb

[2021-08-17 10:44] filipefurtad0 commented on #76
Maybe using shipment states could provide the info we need. If understand correctly we're trying to access the turnover of

`orders which can be shipped` (shipment_state=ready) -> `shipped orders` (shipment_state=shipped)

This would be (1.) / (2.) from the queries below:

**1. Count of orders, from all Enterprises which use this feature (shipment_state=shipped) :**

SELECT "public"."spree_orders"

[2021-08-17 13:24] jaycmb commented on #76
It´s a bit different what you are proposing.

What I did for UK, FR, and AUS is:
calculating the share of
- orders that have been shipped using shipment feature, i.e. orders with **shipment state of the order** =`shipped`
from
- total number of order that were completed and **could** have used the shipment feature, i.e. order with **shipment state of the order** = `shipped` and **payment state of

[2021-09-28 14:43] #43 closed, assigned to lin-d-hop

[2021-09-28 14:45] #40 closed, assigned to kirstenalarsen

[2021-09-28 15:11] #52 closed, assigned to nobody

[2021-09-28 15:12] #73 closed, assigned to Matt-Yorkley, Erioldoesdesign

[2021-09-28 15:31] jaycmb commented on #76
Queries for US & CAN run and documented in here as well by @filipefurtad0 :pray::skin-tone-2:
https://docs.google.com/spreadsheets/d/1HKtquVdIovSPnQCkW9husnJcWk3p2YOOBX65y4JboBc/edit?usp=sharing

So Hubs for all 5 instances that are using the shipment states are identified and can be contacted in a next step by instance managers or customer support to investigate whether and how they use shipment

[2021-09-28 15:31] #76 closed, assigned to nobody

[2021-10-01 14:46] #34 closed, assigned to nobody

[2021-11-11 13:49] sigmundpetersen commented on #71
I take it this can be closed as the feature is in delivery.

[2021-11-11 13:49] #71 closed, assigned to nobody

[2022-02-17 17:50] #49 closed, assigned to Erioldoesdesign

[2022-02-17 17:50] RachL commented on #25
ping @filipefurtad0 !

[2022-03-02 13:40] sigmundpetersen commented on #72
In delivery with https://github.com/openfoodfoundation/openfoodnetwork/issues/7198

[2022-03-02 13:40] #72 closed, assigned to nobody

[2022-03-04 15:59] #55 closed, assigned to Erioldoesdesign

[2022-03-07 12:46] sigmundpetersen commented on #11
Think we can close this, we also have https://github.com/openfoodfoundation/wishlist/issues/188

[2022-03-07 12:46] #11 closed, assigned to RachL

[2022-03-24 15:10] RachL commented on #70
Closing for now, we can reopen dedicated wishlist if needed.

[2022-03-24 15:10] #70 closed, assigned to nobody

[2022-03-24 15:16] RachL commented on #66
will be handle by report issue, closing here for now

[2022-03-24 15:16] #66 closed, assigned to nobody

[2022-03-24 15:16] RachL commented on #65
Handle by reports project which is more detailed, closing here.

[2022-03-24 15:16] #65 closed, assigned to nobody

[2022-03-24 15:18] #51 closed, assigned to nobody

[2022-03-24 15:19] RachL commented on #28
Closing in favor of https://github.com/openfoodfoundation/wishlist/issues/182

[2022-03-24 15:19] #28 closed, assigned to RachL, Erioldoesdesign

[2022-03-24 15:22] RachL commented on #9
This is done now :+1:

[2022-03-24 15:22] #9 closed, assigned to nobody

[2022-03-24 15:23] RachL commented on #10
I don't think we will do this. So closing, we can reopen when needed.

[2022-03-24 15:23] #10 closed, assigned to kirstenalarsen

[2022-03-24 15:29] #54 closed, assigned to Erioldoesdesign

[2022-03-24 15:29] #26 closed, assigned to Erioldoesdesign

[2022-03-24 15:31] #61 closed, assigned to nobody

[2022-03-24 15:32] #36 closed, assigned to lin-d-hop